name: Deploy Nginx Config

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - cloud/nginx/**

jobs:
  deploy-nginx:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Configure SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.CLOUD_SSH_KEY }}
    
    - name: Deploy Nginx Config
      run: |
        scp -o StrictHostKeyChecking=no cloud/nginx/*.conf root@${{ secrets.CLOUD_IP }}:/etc/nginx/sites-available/
        ssh -o StrictHostKeyChecking=no root@${{ secrets.CLOUD_IP }} << 'EOF'
          nginx -t && systemctl reload nginx || exit 1
        EOF

